@import "tailwindcss";

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-neon-green: #d0f450;
  --color-dark-indigo: #191052;
  --color-white-blue: #fefeff;
  --color-light-gray: #f2f2f6;
}
